.nav {
  display: flex;
  justify-content: center;
  background-color: #3F3F3F;
  @media (max-width: 414px){
    width: 100%;
  }
}

.nav-content {
  padding-top: 15px;
  width: 1200px;
  @media (max-width: 414px){
    width: 100%;
    padding-left:8px;
    padding-right:8px;
  }
}

.nav-logo {
  font-size: 58px;
  color:white;
  text-decoration: none;
}